.fade-up{

    animation:fadeUp .4s ease;

}

@keyframes fadeUp{

    from{

        opacity:0;

        transform:translateY(15px);

    }

    to{

        opacity:1;

        transform:translateY(0);

    }

}

.hover-lift{

    transition:.3s;

}

.hover-lift:hover{

    transform:translateY(-6px);

}