.bookings-page{
    padding:30px;
    color:#fff;
    min-height:100vh;
    background:#08111f;
}

.bookings-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:30px;
    gap:20px;
}

.bookings-header h2{
    font-size:34px;
    font-weight:700;
}

.search-box{
    display:flex;
    align-items:center;
    gap:10px;
    background:#111827;
    border:1px solid rgba(255,255,255,.08);
    border-radius:12px;
    padding:12px 18px;
    width:350px;
}

.search-box input{
    width:100%;
    background:transparent;
    border:none;
    outline:none;
    color:white;
    font-size:15px;
}

.booking-table{
    width:100%;
    border-collapse:collapse;
    background:#111827;
    border-radius:18px;
    overflow:hidden;
}

.booking-table thead{
    background:#1e293b;
}

.booking-table th{
    padding:18px;
    text-align:left;
    color:#cbd5e1;
    font-size:15px;
    font-weight:600;
}

.booking-table td{
    padding:18px;
    border-top:1px solid rgba(255,255,255,.05);
    font-size:15px;
    color:white;
}

.booking-table tr:hover{
    background:#1b2435;
}

.booking-table td svg{
    margin-right:8px;
    vertical-align:middle;
}

.booking-status{
    padding:6px 14px;
    border-radius:30px;
    background:#15803d;
    color:white;
    font-size:13px;
    font-weight:600;
}

.view-btn{
    border:none;
    padding:10px 18px;
    border-radius:8px;
    cursor:pointer;
    background:#2563eb;
    color:white;
    font-weight:600;
    transition:.3s;
}

.view-btn:hover{
    background:#1d4ed8;
}

@media(max-width:1000px){

    .booking-table{
        display:block;
        overflow-x:auto;
    }

    .bookings-header{
        flex-direction:column;
        align-items:flex-start;
    }

    .search-box{
        width:100%;
    }
}