.layout-page{

    width:100%;
    padding:20px;
    background:#08111f;
}

.layout-wrapper{

    position:relative;

    width:max-content;

    margin:auto;
}

.layout-image{

    width:1200px;

    display:block;
}

.plot-box{

    position:absolute;

    cursor:pointer;

    transition:.3s;

    opacity:.55;

    border:1px solid white;
}

.plot-box:hover{

    opacity:.95;

    transform:scale(1.05);
}

.available{

    background:#16a34a;
}

.booked{

    background:#facc15;
}

.sold{

    background:#ef4444;
}