.sidebar{
    width:280px;
    height:100vh;
    position:fixed;
    left:0;
    top:0;

    display:flex;
    flex-direction:column;

    background:#0b1220;

    border-right:1px solid rgba(255,255,255,.08);

    padding:25px;

    color:white;

    transition:0.3s;
    z-index:1000;
}

/* Logo */

.logo{
    display:flex;
    align-items:center;
    gap:15px;
    margin-bottom:45px;
}

.logo-icon{
    width:60px;
    height:60px;

    border-radius:18px;

    display:flex;
    justify-content:center;
    align-items:center;

    background:linear-gradient(135deg,#2563eb,#60a5fa);

    font-size:28px;

    box-shadow:0 0 30px rgba(37,99,235,.4);
}

.logo h2{
    font-size:28px;
    margin:0;
}

.logo span{
    color:#94a3b8;
    font-size:13px;
}

/* Navigation */

nav{
    display:flex;
    flex-direction:column;
    gap:10px;
}

nav a{
    display:flex;
    align-items:center;
    gap:15px;

    text-decoration:none;

    color:#d1d5db;

    padding:16px;

    border-radius:14px;

    transition:.3s;
}

nav a:hover{
    background:#1e293b;
    color:white;
    transform:translateX(5px);
}

.active{
    background:linear-gradient(135deg,#2563eb,#3b82f6);
    color:white !important;

    box-shadow:0 10px 25px rgba(37,99,235,.4);
}

/* Profile */

.profile{
    margin-top:auto;
    padding:18px;
    background:#111827;
    border-radius:18px;
}



.profile h4{
    margin:0;
}

.profile p{
    margin:0;
    color:#94a3b8;
    font-size:13px;
}

/* Logout */

.logout{
    margin-top:20px;

    border:none;

    padding:16px;

    border-radius:14px;

    display:flex;
    justify-content:center;
    align-items:center;
    gap:10px;

    cursor:pointer;

    background:linear-gradient(135deg,#f59e0b,#fbbf24);

    color:#111827;

    font-weight:700;

    transition:.3s;
}

.logout:hover{
    transform:translateY(-3px);
    box-shadow:0 12px 25px rgba(251,191,36,.4);
}

/* Close Button */

.close-btn{
    display:none;

    position:absolute;
    top:15px;
    right:15px;

    background:none;
    border:none;
    color:white;

    cursor:pointer;
}

/* Overlay */

.sidebar-overlay{
    display:none;
}

/* ========================= */
/* Mobile Responsive */
/* ========================= */

@media (max-width:768px){

.sidebar{

    left:-100%;
    width:270px;

}

.sidebar.open{

    left:0;

}

.close-btn{

    display:block;

}

.sidebar-overlay{

    display:block;

    position:fixed;

    inset:0;

    background:rgba(0,0,0,.5);

    z-index:999;

}

.logo h2{

    font-size:24px;

}

.logo span{

    font-size:12px;

}

nav a{

    padding:14px;

}

.profile{

    padding:15px;

}

.logout{

    padding:14px;

}

}